<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, inital-scale=1.0"/>
</head>
<body>
<h1>Movie List Page
    <br>
    <span>
  <a th:href="@{/movie/register}">
    <button type="button" class="btn btn-primary">등록</button>
  </a>

</span>
    </br>
</h1>

<form th:action="@{/movie/list}" method="get" id="searchForm">
    <input type="hidden" id="page" name="page" th:value="${page.page}">
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title & Picture</th>
        <th scope="col">Review Count</th>
        <th scope="col">AVG Rating</th>
        <th scope="col">Regdate</th>
    </tr>
    </thead>
    <tbody id="movies">

    </tbody>

</table>

<ul id="paging">

</ul>
<script th:inline="javascript">
  $(document).ready(function (){
    let movies = new Movies();
    movies.drawList();
  });
  class Movies{
    drawList(){
      $.ajax({
        url:'/movies?page='+ $('#page').val(),
        type:"GET",
        contentType:"application/json; charset=utf-8",
        dataType:"text",
        success: function(result){
          console.log(result);
          result = JSON.parse(result);
          let html = "";
          result.list.forEach(function (movie){
            html += "<tr>";
            html += "<th><a href='/movie/read?mno=" + movie.mno+"'</a>" + movie.mno + "</th>";
            html += "<td><img src='" + movie.imageDTOList[0] + "'>" + movie.title + "</td>";
            html += "<td>" + movie.reviewCnt+"</td>";
            html += "<td>" + movie.avg+"</td>";
            html += "<td>" + movie.regDate+"</td>";
            html += "</tr>";
          });
          $('#movies').html(html);

          let pageHtml = "";
          if(result.prev == 'true') {
            pageHtml += "<a className='page-link' href='/movie/list?page=" + result.start -1 + "'>Previous</a>";
          }
          result.page.pageList.forEach(function (page){
            pageHtml += "<a style='margin-right: 5px;' className='page-link' href='/movie/list?page=" + page + "'>" + page + "</a>";
          });
          if(result.next == 'true') {
            pageHtml += "<a className='page-link' href='/movie/list?page=" + result.end +1 + "'>Next</a>";
          }
          $('#paging').html(pageHtml)
        }
      })
    }

  }

</script>
</body>
</html>