<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script th:src="@{/starrr.js}"></script>
<link th:href="@{/css/starrr.css}" rel="stylesheet">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, inital-scale=1.0"/>
</head>
<body>
<form th:action="@{/movie/register}" th:method="post">
    <h3>Movie Read Page</h3>
    <h5>Title</h5>
    <input name="title" type="text">
    <h5>Avg</h5>
    <input name="avg" type="text">
    <div class="uploadResult">
        <ul id="imageList">

        </ul>
        <button type="button">Review Count (<span id="reviewCnt"></span>)</button>
        <button type="button" class="addReviewBtn">Review Register</button>
        <div class="list-group reviewList"></div>
    </div>

</form>
<form th:action="@{/movie/remove}" method="POST">
    <input type="hidden" id="mno" name="mno" th:value="${mno}">
    <button type="button" id="removeMovie" class="btn btn-primary">영화 삭제</button>
</form>
<div class="reviewModal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Movie Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Review ID</label>
                    <input type="text" class="form-control" name="mid">
                </div>
                <div class="form-group">
                    <label>Grade</label>
                    <div class="starrr"></div>
                </div>
                <div class="form-group">
                    <label>Review Text</label>
                    <input type="text" class="form-control" name="text" placeholder="Good Movie!">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  data-dismiss="modal">Close</button>
                <button type="button" class="reviewSaveBtn">Save changes</button>
                <button type="button" class="modifyBtn">Modify </button>
                <button type="button" class="removeBtn">Remove </button>
            </div>

            <div class="imageModal modal " tabindex="-2" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Picture</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="imageModal modal " tabindex="-2" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Picture</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function (e) {
        function drawList() {
            $.ajax({
                url:'/movies/'+ $('#mno').val(),
                type:"GET",
                contentType:"application/json; charset=utf-8",
                dataType:"text",
                success: function(result){
                    console.log(result);
                    result = JSON.parse(result);
                    $('input[name=title]').val(result.title);
                    $('#reviewCnt').text(result.reviewCnt);
                    $('input[name=avg]').val(result.avg);
                    let imageHtml = "";
                    result.imageDTOList.forEach(function (image){
                        imageHtml += "<li data-file='" + image.thumbnailURL + "'>";
                        imageHtml += "<img src='/display?fileName=" + image.thumbnailURL + "'>";
                    });
                    $('#imageList').html(imageHtml);
                }
            })
        }

        drawList();
        var grade = 0;
        var mno = [[${mno}]];

        $('.starrr').starrr({
            rating: grade,
            change: function (e, value) {
                if (value) {
                    console.log(value);
                    grade = value;
                }
            }
        });

        function getMovieReviews() {

            function formatTime(str){
                var date = new Date(str);

                return date.getFullYear() + '/' +
                    (date.getMonth() + 1) + '/' +
                    date.getDate() + ' ' +
                    date.getHours() + ':' +
                    date.getMinutes();
            }

            $.getJSON("/reviews/"+ mno +"/all", function(arr){
                var str ="";

                $.each(arr, function(idx, review){

                    console.log(review);

                    str += '    <div style="width: 500px; border:1px solid black;" class="card-body" data-reviewnum='+review.reviewnum+' data-mid='+review.mid+'>';
                    str += '    <h5 class="card-title">'+review.text+' <span>'+ review.grade+'</span></h5>';
                    str += '    <h6 class="card-subtitle mb-2 text-muted">'+review.nickname+'</h6>';
                    str += '    <p class="card-text">'+ formatTime(review.regDate) +'</p>';
                    str += '    </div>';
                });

                $(".reviewList").html(str);
            });
        }

        getMovieReviews();

        //$(".reviewModal").modal("show");
        var reviewModal =$(".reviewModal");
        var inputMid = $('input[name="mid"]');
        var inputText = $('input[name="text"]');


        $(".addReviewBtn").click(function (){
            inputMid.val("");
            inputText.val("");

            $(".removeBtn, .modifyBtn").hide();
            $(".reviewSaveBtn").show();

            reviewModal.modal('show');
        });

        $('.reviewSaveBtn').click(function() {

            var data = {mno:mno, grade:grade, text:inputText.val(), mid: inputMid.val() };

            console.log(data);

            $.ajax({
                url:'/reviews/'+ mno,
                type:"POST",
                data:JSON.stringify(data),
                contentType:"application/json; charset=utf-8",
                dataType:"text",
                success: function(result){

                    console.log("result: " + result);

                    self.location.reload();

                }
            })
            reviewModal.modal('hide');

        });

        var reviewnum;

        $(".reviewList").on("click", ".card-body", function() {

            $(".reviewSaveBtn").hide();
            $(".removeBtn , .modifyBtn").show();


            var targetReview = $(this);

            reviewnum = targetReview.data("reviewnum");
            console.log("reviewnum: "+ reviewnum);
            inputMid.val(targetReview.data("mid"));
            inputText.val(targetReview.find('.card-title').clone().children().remove().end().text());

            var grade = targetReview.find('.card-title span').html();
            $(".starrr a:nth-child("+grade+")").trigger('click');

            $('.reviewModal').modal('show');
        });

        $(".modifyBtn").on("click", function(){

            var data = {reviewnum: reviewnum, mno:mno, grade:grade, text:inputText.val(), mid: inputMid.val() };

            console.log(data);

            $.ajax({
                url:'/reviews/'+mno +"/"+ reviewnum ,
                type:"PUT",
                data:JSON.stringify(data),
                contentType:"application/json; charset=utf-8",
                dataType:"text",
                success: function(result){

                    console.log("result: " + result);

                    self.location.reload();

                }
            })
            reviewModal.modal('hide');
        });

        $(".removeBtn").on("click", function(){

            var data = {reviewnum: reviewnum};

            console.log(data);

            $.ajax({
                url:'/reviews/'+mno +"/"+ reviewnum ,
                type:"DELETE",
                contentType:"application/json; charset=utf-8",
                dataType:"text",
                success: function(result){

                    console.log("result: " + result);

                    self.location.reload();

                }
            })
            reviewModal.modal('hide');
        });

        $(".uploadResult li").click(function() {

            var file = $(this).data('file');

            console.log(file);

            $('.imageModal .modal-body').html("<img style='width:100%' src='/display?fileName="+file+"&size=1' >")

            $(".imageModal").modal("show");

        });

        $("#removeMovie").click(function() {
            $.ajax({
                url:'/movies/'+mno,
                type:"DELETE",
                contentType:"application/json; charset=utf-8",
                dataType:"text",
                success: function(result){

                    console.log("result: " + result);

                    location.href = "/movie/list";

                }
            })

        });

    });



</script>
</html>